{% extends '_base.html' %}
{% load static %}

{% block title %}O mnie{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <div class="container">
        <div>
            <h2 class="text-center" style="color:darkslategrey" >Michał Kandybowicz</h2>
            <br>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center" >
                <img style="max-width: 200px" src={% static 'images/mk_zwiedzanie.jpeg' %} alt="">
            </div>
            <div class="col">
                <br>
                <p class="font-weight-bold" style="color:darkslategrey">
                    Uwielbiam zwiedzać opuszczone budynki i bunkry oraz poznawać historię tych miejsc, zwłaszcza jak łączy
                    się to z wspinaczką. W mieście relaksuje mnie jazda na rolkach, longboardzie oraz gra w szachy i
                    inne gry strategiczne.
                </p>
            </div>
        </div>
        <div>
            <br>
            <h3 style="color:darkslategrey"> Programowanie</h3>
            <p class="font-weight-bold" style="color:darkslategrey">
                Przygodę z programowaniem zacząłem w grudniu 2019 roku, ucząc się w CodeCool przez rok. Poznałem tam
                Pythona, Jave, JS-a. Uczyłem się tam również dobrych praktyk w świecie programowania, więc zasady SOLID
                czy KISS nie są mi obce. Założyłem i przez długi czas prowadziłem projekt
                <a href="https://onlineonboarding.net/">OnlineOnboarding</a>, który gdy zostanie wypuszczony
                będzie pomagał w wdrażaniu nowych pracowników w struktury firmy. Pracowałem również przy innych projektach
                jak <a href="https://eco4coin.pl/">eco4coin</a>, gdzie zajmowałem się tworzeniem API oraz panelu
                administracyjnego.
            </p>
        </div>
        <div>
            <br>
            <h3 style="color:darkslategrey"> Moje umiejętności</h3>

            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            </div>
            <p class="font-weight-bold" style="color:darkslategrey">
                Python
            </p>

            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            </div>
            <p class="font-weight-bold" style="color:darkslategrey">
                Django
            </p>

            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            </div>
            <p class="font-weight-bold" style="color:darkslategrey">
                Django REST framework
            </p>

            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            </div>
            <p class="font-weight-bold" style="color:darkslategrey">
                Flask
            </p>

            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            </div>
            <p class="font-weight-bold" style="color:darkslategrey">
                Git
            </p>

            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            </div>
            <p class="font-weight-bold" style="color:darkslategrey">
                Java
            </p>

            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 56%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
            </div>
            <p class="font-weight-bold" style="color:darkslategrey">
                PostgreSQL
            </p>
        </div>
        <div>
            <br>
            <h3 style="color:darkslategrey"> Książki, filmy i seriale!</h3>
            <p class="font-weight-bold" style="color:darkslategrey">
                Jestem fanem fantastyki i powieści przygodowych w każdej formie. Od najmłodszych lat fascynowały mnie książki takich autorów jak:
            </p>
            <ul class="">
                <li class="">
                    <p class="font-weight-bold" style="color:darkslategrey">Alfred Szklarski</p></li>
                <li class="">
                    <p class="font-weight-bold" style="color:darkslategrey">Karl May</p></li>
                <li class="">
                    <p class="font-weight-bold" style="color:darkslategrey">Jules Verne</p></li>
                <li class="">
                    <p class="font-weight-bold" style="color:darkslategrey">Frank Herbert</p></li>
                <li class="">
                    <p class="font-weight-bold" style="color:darkslategrey">David Gemmell</p></li>
                <li class="">
                    <p class="font-weight-bold" style="color:darkslategrey">Tony Halik</p></li>
            </ul>
            <p class="font-weight-bold" style="color:darkslategrey">
                Jestem również fanem seriali i filmów o tej tematyce :)
            </p>
        </div>
    </div>

</div>
{% endblock content %}