{% extends '_base.html' %}
{% load static %}

{% block title %} {{ author.name }} {% endblock %}

{% block content %}
    <br>
    <br>
    <div class="row">
        <div class="col  justify-content-center">
            <div>
                <p class="font-weight-bold h2" style="color:darkslategrey">{{ author.name }}</p>
            </div>
            <br>
            <div>
                <p class="font-weight-bold" style="color:darkslategrey">{{ author.note }}</p>
            </div>


        </div>
        <div class="col">
            <img style="max-width: 400px; max-height: 400px" alt="img" src={% static 'images/niestety.png' %}>
        </div>
    </div>


{% endblock content %}