{% extends 'game/game_core.html' %}
{% block title %} game_core {% endblock %}

{% block content %}

<div>
    <div class="card" style="margin-top: 1%; background-color: #b7b9bd">
        <div class="card-header">
            <h5 class="mb-0">Statystyki</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                Wypraw dzisiaj: 8
                <br>Karmiono dzisiaj: 8 razy
                <br>Praca: tak
                <br>Wyprawa: tak</p>
        </div>
    </div>
</div>

{% endblock content %}
